<!DOCTYPE html>
<html>
<head>
    <title>设备使用预约系统</title>
    <script type="text/javascript" src="/site_media/js/jquery.min.js"></script>
    <script src="/site_media/bootstrap/js/bootstrap.min.js"></script>
    <script src="/site_media/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="/site_media/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
    <link href="/site_media/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/site_media/bootstrap-table/dist/bootstrap-table.css" rel="stylesheet">
    <link href="/site_media/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"  href="/">设备使用预约系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">预约</a></li>
                <li><a href="{% url 'my-appointment' %}">我的预约记录</a></li>
                <li><a href="{% url 'my-charge' %}">我的充值记录</a></li>
                <li><a href="{% url 'newslist' %}">新闻公告</a></li>
                {% if request.user.is_staff %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">管理员操作 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'stats' %}">统计</a></li>
                            <li><a href="{% url 'charge' %}">充值</a></li>
                            <li><a href="{% url 'deduct' %}">手动扣费</li>
                            <li><a href="{% url 'charge_record' %}">充值记录</a></li>
                            <li><a href="{% url 'set_overtime' %}">设置加班日期</a></li>
                            {% if request.user.is_superuser %}
                            <li><a href="/admin/">后台</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="help" href="#">使用帮助</a></li>
                <li><a><label>当前登陆用户：</label><span class="text-primary">{{ request.user }}</span></a></li>
                <li><a href="/accounts/logout/?next=/">注销</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    使用帮助
                </h4>
            </div>
            <div id="content" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

{% block main %}
{% endblock %}
<script src="/site_media/js/base.js"></script>
</body>
</html>