<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>设备预约系统</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>

<body class="login">

<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name">设备预约系统</h1>
        </div>
    </div>
    <!-- END Header -->
    
    <!-- Content -->
    <div id="content" class="colM">    
<div id="content-main">
<form action="" method="post" id="login-form">
{% csrf_token %}
  <div class="form-row">
    
    <label for="id_username" class="required">用户名:</label> <input id="id_username" maxlength="254" name="username" type="text" />
  </div>
  
  <div class="submit-row">
    <label>&nbsp;&nbsp;</label><input id="submit-mail" type="submit" value="提交" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->
<script type="text/javascript" src="/site_media/js/jquery.min.js"></script>
<script type="text/javascript">
    $('#submit-mail').click(function(event){
        event.preventDefault()
        if($('#id_username').val() == ''){
            console.log('fjakfja')
            alert('不能为空');
            return  
        }
        location.href = '/forget_end/?username=' + $('#id_username').val()
    })
</script>
</body>
</html>


