<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>设备预约系统</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>

<body class="login">

<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name">设备预约系统</h1>
        </div>
    </div>
    <!-- END Header -->
    
    <!-- Content -->
    <div id="content" class="colM">    
<div id="content-main">
<form action="" method="post" id="login-form">
{% csrf_token %}
  <div class="form-row">
    
    <label for="id_username" class="required">用户名:</label> <input id="id_username" maxlength="254" name="username" type="text" />
  </div>
  <div class="form-row">
    
    <label for="id_password" class="required">密码：</label> <input id="id_password" name="password" type="password" />
    <input type="hidden" name="this_is_the_login_form" value="1" />
    <input type="hidden" name="next" value="/" />
  </div>
  
  
  <div class="submit-row">
    <label>&nbsp;&nbsp;</label><input type="submit" value="登录" />
  </div>
  <a href="{% url 'newslist' %}"><label style="float: left;">查看公告</label></a>
  <a href="/forget/"><label style="float: right;">忘记密码/修改密码?</label></a>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>

        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>


